<footer id="colophon" class="site-footer clear"  style="margin-bottom: 50px;">
	<div class="clear"></div>

	<div class="container">
		<div class="friend clear">
			<div class="menu-%e5%8f%8b%e6%83%85%e9%93%be%e6%8e%a5-container">
				<ul id="friend-menu" class="friend-nav">
					<li id="menu-item-326"
						class="menu-item menu-item-type-custom menu-item-object-custom menu-item-326">
						<a href="/">
							友情链接：
						</a>
					</li>

				</ul>
			</div>
		</div>
		<div id="site-bottom" class="container clear">
					
					<div class="site-info">
						&copy; 2024-
						<a href="/">
							{9CCMS:$WebTitle}							
						</a>						
					</div>
					 <div style="display: none;"></div>
					
				</div>
	</div>
	{9CCMS:$WebAdS}
</footer>